<div mat-dialog-title>Add Vehicle</div>
<form [formGroup]="vehicleForm" (ngSubmit)="onVehicleFormSubmit()">
  <div mat-dialog-content>
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>Vehicle Name</mat-label>
          <input
            matInput
            type="text"
            placeholder="Name"
            formControlName="vehiclename"
          />
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field class="col-ms-6" appearance="outline">
          <mat-label>Vehicle Number</mat-label>
          <input matInput type="text" formControlName="vehicleNumber" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6" appearance="outline">
        <mat-form-field>
          <mat-label>Vehicle Type</mat-label>
          <mat-select formControlName="vehicleType">
            <mat-option>None</mat-option>
            @for (vtypes of vehicleTypes; track vtypes) {
            <mat-option [value]="vtypes">{{ vtypes }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>Seating Capacity</mat-label>
          <input
            matInput
            type="number"
            placeholder="Ex. 4"
            formControlName="seatingCapacity"
          />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>Rrgistration date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="registrationDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button (click)="clossVehicle()">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </div>
</form>
