<div class="dashboard-container">
  <div class="stats-grid">
    <div class="stat-card" routerLink="/employee-list">
      <p class="stat-label">Active Drivers</p>
      <p class="stat-value">125</p>
    </div>

    <div class="stat-card">
      <p class="stat-label">Avg. Rating</p>
      <p class="stat-value">4.8</p>
    </div>

    <div class="stat-card">
      <p class="stat-label">Total Trips</p>
      <p class="stat-value">5,2</p>
    </div>

    <div class="stat-card" (click)="addDriver()">
      <p class="stat-label">Add driver</p>
      <a class="stat-value"><i class="bi bi-person-plus-fill"></i></a>
    </div>
  </div>

  <h3 class="section-title">Active Drivers</h3>
  <div class="driver-list">
    <div class="driver-card" *ngFor="let driver of activeDrivers">
      <div>
        <p class="driver-name">{{ driver.name }}</p>
        <p class="driver-location">Location: {{ driver.location }}</p>
      </div>
    </div>
  </div>
</div>
