<div mat-dialog-title>Vehicle Maintenance</div>
<form [formGroup]="maintenanceForm" (ngSubmit)="onMaintenanceFormSubmit()">
  <div mat-dialog-content>
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>Service Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker1"
            formControlName="serviceDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field class="col-ms-6" appearance="outline">
          <mat-label>Next Due Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker2"
            formControlName="nextduedate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>Cost</mat-label>
          <input
            matInput
            type="number"
            placeholder="Cost"
            min="1"
            formControlName="cost"
          />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6" appearance="outline">
        <mat-form-field>
          <mat-label>Maintenance Type</mat-label>
          <mat-select formControlName="maintenanceType">
            <mat-option>None</mat-option>
            @for (mtypes of maintenanceTypes; track mtypes) {
            <mat-option [value]="mtypes">{{ mtypes }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button (click)="onCloseMaintenance()">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </div>
</form>
