<div class="container">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let employee of drivers">
      <div class="card w-100%">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-6 text-start fw-bold">Name</div>
            <div class="col-6 text-end">{{ employee.employeeName }}</div>
          </div>
          <div class="row mb-2">
            <div class="col-6 text-start fw-bold">Age</div>
            <div class="col-6 text-end">{{ employee.employeAge }}</div>
          </div>
          <div class="row mb-2">
            <div class="col-6 text-start fw-bold">Address</div>
            <div class="col-6 text-end">{{ employee.address }}</div>
          </div>
          <div class="row mb-2">
            <div class="col-6 text-start fw-bold">Licence</div>
            <div class="col-6 text-end">{{ employee.licence }}</div>
          </div>
          <div class="row mb-2">
            <div class="col-6 text-start fw-bold">Salary</div>
            <div class="col-6 text-end">{{ employee.salary }}</div>
          </div>
          <div class="row mb-2">
            <div class="col-6 text-start fw-bold">Ph.No</div>
            <div class="col-6 text-end">{{ employee.number }}</div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <button class="btn btn-success w-100">View Doc.</button>
            </div>
            <div class="col-6">
              <button class="btn btn-primary w-100">Edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
