.calendar-cell {
  height: 120px;
  overflow-y: auto;
  position: relative;
  background-color: #fdfdfd;
}

.date-label {
  position: absolute;
  top: 2px;
  right: 5px;
  font-size: 0.75rem;
  color: #666;
}
