<div class="dashboard-container">
  <div class="row g-4">
    <div class="col-4 col-md-6">
      <div class="dashboard-card border-emerald">
        <div>
          <div class="dashboard-label fw-bold">Bookings</div>
          <div class="text-center">{{ totalBookings }}</div>
        </div>
      </div>
    </div>
    <div class="col-4 col-md-6">
      <div class="dashboard-card border-blue">
        <div>
          <div class="dashboard-label fw-bold">Drivers</div>
          <div class="text-center">{{ totalEmployees }}</div>
        </div>
      </div>
    </div>
    <div class="col-4 col-md-6">
      <div class="dashboard-card border-purple">
        <div>
          <div class="dashboard-label fw-bold">Cars</div>
          <div class="text-center">38</div>
        </div>
      </div>
    </div>
    <div class="col-4 col-md-6">
      <div class="dashboard-card border-amber">
        <div>
          <div class="dashboard-label fw-bold">Todays Bookings</div>
          <div class="text-center">9</div>
        </div>
      </div>
    </div>
    <div class="col-4 col-md-6">
      <div class="dashboard-card border-pink">
        <div>
          <div class="dashboard-label fw-bold">Todays Earning</div>
          <div class="text-center">$24,389</div>
        </div>
      </div>
    </div>
    <div class="col-4 col-md-6">
      <div class="dashboard-card border-yellow">
        <div>
          <div class="dashboard-label fw-bold">Revenue</div>
          <div class="text-center">$24,389</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row g-4">
    <div class="col-12 col-md-6 col-md-4 mb-4">
      <app-booking-table></app-booking-table>
    </div>
    <div class="col-12 col-md-6 col-md-4 mb-4">
      <app-employee-table></app-employee-table>
    </div>
    <div class="col-12 col-md-6 col-md-4 mb-4">
      <app-employee-table></app-employee-table>
    </div>
    <div class="col-12 col-md-6 col-md-4 mb-4">
      <app-booking-table></app-booking-table>
    </div>
  </div>
</div>
