<div class="container py-3">
  <div class="mb-3">
    <input
      type="text"
      class="form-control mb-2"
      placeholder="Search bookings..."
    />
    <div class="btn-group w-100" role="group">
      <button class="btn btn-outline-secondary">All</button>
      <button class="btn btn-outline-success">Confirmed</button>
      <button class="btn btn-outline-warning">Pending</button>
      <button class="btn btn-outline-danger">Cancelled</button>
    </div>
  </div>

  <div class="d-flex justify-content-between mb-3">
    <div class="summary-card bg-primary text-white text-center">
      <div class="fw-bold">{{ bookings.length }}</div>
      <small>Total</small>
    </div>
    <div
      class="summary-card bg-success text-white text-center"
      routerLink="/email-booking"
    >
      <div class="fw-bold">8</div>
      <small>Enquery</small>
    </div>
    <div class="summary-card bg-warning text-dark text-center">
      <div class="fw-bold">4</div>
      <small>Pending</small>
    </div>
  </div>

  <div *ngFor="let booking of bookings" class="booking-card">
    <div class="booking-left">
      <!-- <div class="icon-box">
        <span class="material-icons">{{ booking.icon }}</span>
      </div> -->
    </div>

    <div class="booking-middle">
      <div class="title">
        {{ booking.customer.customerName }}
        <span class="pax"> Pax {{ booking.pax }} </span>
      </div>
      <div class="location">{{ booking.customer.customerNumber }}</div>
      <div class="title"></div>
      <div class="dates">
        <div class="date-section">
          <small>{{ booking.from }}</small>
          <div>{{ booking.travelDate }}</div>
        </div>
        <div class="date-section">
          <small>{{ booking.to }}</small>
          <div>{{ booking.traveltime }}</div>
        </div>
      </div>

      <div class="duration">
        <div>{{ booking.bookingType }}</div>
        <div>Driver {{ booking.user.employeeName }}</div>
      </div>
    </div>

    <div class="booking-right">
      <span class="status" [ngClass]="booking.status.toLowerCase()">{{
        booking.status
      }}</span>
      <div class="price">{{ booking.amount }}</div>
      <div>{{ booking.vehicle.vehicleName }}</div>
      <div class="mt-2">
        <button class="btn btn-primary" (click)="editBooking(booking)">
          Edit
        </button>
      </div>
    </div>
  </div>
</div>
