<div class="container py-3">
  <div class="table-responsive">
    <table class="table table-striped table-hover align-middle shadow rounded">
      <thead class="table-primary">
        <tr>
          <th scope="col">Vehicle</th>
          <th scope="col">ServiceDate</th>
          <th scope="col">NextDue</th>
          <th scope="col">Type</th>
          <th scope="col">Cost</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let maintenance of maintenances">
          <td>{{ maintenance.vehicle.vehicleName }}</td>
          <td>{{ maintenance.servieDate | date}}</td>
          <td>{{ maintenance.nextduedate | date}}</td>
          <td>{{ maintenance.maintenanceType }}</td>
          <td>{{ maintenance.cost }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
